* {
    margin: 0;
}
  
.ttt-wrapper {
    width: 50%;
    margin-left: 25%;
}
  
.ttt-wrapper .header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px 15px 15px;
}
  
.ttt-wrapper .header .turn-info {
    width: 300px;
    margin: 0 auto;
    padding: 15px 0;
}